.item-carousel__details {
	display: none;
	padding: 15px 10px;
	font-size: 14rem;
	box-shadow: 0px 2px 2px black;
	background: $--primary-color;

	&__controls {
		display: flex;
		justify-content: space-between;

		ul {
			display: flex;
			li:not(:last-child) {
				margin-right: 8px;
			}
		}
	}
	&__info {
		display: flex;
		flex-wrap: wrap;
		margin: 10px 0;

		.info__recomendation {
			margin-right: 8px;
			color: $--third-font-color;
		}

		.info__mature-rating {
			margin-right: 8px;
			padding: 1rem 6rem;
			border: 1px solid rgba($--primary-font-color, 0.4);
		}
	}

	&__categories {
		display: flex;
		flex-wrap: wrap;
		span {
			&:not(:last-child) {
				margin-right: 8px;
			}
			&::before {
				content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
				color: $--third-color; /* Change the color */
				font-weight: bold; /* If you want it to be bold */
				display: inline-block; /* Needed to add space between the bullet and the text */
				width: 12rem; /* Also needed for space (tweak if needed) */
			}
		}
	}
}
