.item-carousel {
	min-width: 16.6%;
	height: fit-content;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 0 2px;
	// border: 1px solid red;
	transition: 450ms all;

	&:first-child {
		-webkit-transform-origin: center left;
		transform-origin: center left;
	}

	&:hover {
		position: relative;
		// box-shadow: 0px 0px 30px black;
		z-index: 2;
		.item-carousel__details {
			display: block;
		}
	}
}

@media screen and(max-width: "1440px") {
	.item-carousel {
		min-width: 20%;
	}
}

@media screen and(max-width: "1024px") {
	.item-carousel {
		min-width: 30%;
	}
}

@media screen and(max-width: "767px") {
	.item-carousel {
		&:hover {
			.item-carousel__details {
				display: none;
			}
		}
	}
}

@media screen and (max-width: '480px') {
	.item-carousel {
		min-width: 46%;
	}
}
