.modal-details {
	display: grid;
	grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
	gap: 32px;
	padding-top: 14px;
	font-size: 18rem;

	&__overview {
		font-weight: 400;
		margin-top: 24px;
		margin-bottom: 9px;
	}
	&__metadata-left {
		margin-right: 2vw;
	}
	&__metadata-left-main {
		font-size: 16rem;
		font-weight: 600;
		span:not(:last-child) {
			margin-right: 10px;
		}
	}

	&__metadata-right {
		font-size: 15rem;
		p:not(:last-child) {
			margin-bottom: 14px;
		}
		&-tag {
			color: #777;
		}
		a {
			word-break: break-word;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.metadata-recomendations {
	color: $--third-font-color;
}
.metadata-rating {
	border: 1px solid rgba($--primary-font-color, 0.4);
	padding: 1px 6px;
}

@media screen and (max-width: '480px') {
	.modal-details {
		grid-template-columns: auto;
		gap: 0px;
	}
}
