.metadata {
	margin: 7px 0;
	font-size: 15rem;
	&-link:not(:last-child)::after {
		content: ', ';
	}

	&-tag {
		color: #777;

		&::after {
			content: ': ';
		}
	}

	a {
		word-break: break-word;
		&:hover {
			text-decoration: underline;
		}
	}
}
