.metadata {
	// &:not(:last-child) {
	// 	margin-bottom: 14rem;
	// }
	margin: 7rem 0;
	font-size: 15rem;
	&-link:not(:last-child)::after {
		content: ', ';
	}

	&-tag {
		color: #777;

		&::after {
			content: ': ';
		}
	}

	a {
		word-break: break-word;
		&:hover {
			text-decoration: underline;
		}
	}
}
