$--primary-color: #141414;
$--secondary-color: #181818;
$--third-color: #595959;
$--primary-font-color: #ffffff;
$--secondary-font-color: #e5e5e5;
$--third-font-color: #46d369;

@mixin images($height: 100%, $width: 100%, $object-fit: cover) {
	height: $height;
	width: $width;
	object-fit: $object-fit;
}

@mixin modalCloseButton($width, $heigth, $borderRadius, $background, $color) {
	width: $width;
	height: $heigth;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	margin: 16px;
	font-size: 28rem;
	font-weight: 100;
	padding: 8px;
	border-radius: $borderRadius;
	background: $background;
	color: $color;
	z-index: 1000;
}

@mixin rectangularButton($padding, $font-size, $border-radius, $background) {
	padding: $padding;
	font-size: $font-size;
	border-radius: $border-radius;
	background-color: $background;
}
@mixin roundedButton(
	$icon-color,
	$border-weight: 1px,
	$border-color: #e5e5e5,
	$size-icon: 22rem
) {
	padding: 6rem;
	color: $icon-color;
	border: $border-weight solid $border-color;
	border-radius: 50%;
	font-size: $size-icon;
}

* {
	margin: 0;
	padding: 0;
	color: $--primary-font-color;
}

html {
	font-size: 6.25%;
}

body {
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16rem;
	background-color: $--primary-color;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
	cursor: pointer;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	background: none;
}
